{{ $jquery := resources.Get "js/jquery-1.js" }}
{{ $stickUp := resources.Get "js/stickUp.js" }}
{{ $scrollIt := resources.Get "js/scrollIt.js" }}
{{ $js := slice $jquery $stickUp $scrollIt | resources.Concat "js/bundle.js" | minify | fingerprint "sha256" }}
<script src="{{ $js.RelPermalink }}" type="text/javascript" integrity="{{ $js.Data.Integrity }}"></script>
<script type="text/javascript">
    jQuery(function($) {
        $(document).ready( function() {
            $('.main-navigation').stickUp({

            });
        });
    });
    $(function(){
        $.scrollIt({
            topOffset: -70,         // offste (in px) for fixed top navigation
            easing: 'ease-in-out'
        });
    });
</script>